    
            <div id="layoutSidenav_content">
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                Product Management
                            </div>
                            <div class="card-body">
                                <table id="datatablesSimple">
                                     {{!-- <button>Add Product</button> --}}
                                    <a type="button" class="btn btn-success mb-4 mt-2" href="/admin/add-product">Add product</a>
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Price</th>
                                            <th>Mrp</th>
                                            <th>Brand</th>
                                            <th>Discription</th>
                                            <th>Quantity</th>
                                            <th>Stock Alart</th>
                                            <th>Catagory</th>
                                            <th>Image</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        {{#each getproduct}}
                                        <tr>
                                            <td>{{name}}</td>
                                            <td>{{price}}</td>
                                            <td>{{mrp}}</td>
                                            <td>{{discription}}</td>
                                            <td>{{brand}}</td>
                                            <td>{{quantity}}</td>
                                            <td>{{stockAlart}}</td>
                                            <td>{{catagory.name}}</td>
                                            
                                            <td>{{#each image}}

                                                <img style="width:4rem; height:5rem" src="/upload/{{img}}" alt=""> 
                                                {{/each}}
                                            </td>
                                            <td><button type="button" class="btn btn-primary mb-4 mt-2">Update Product</button></td>
                                             <td><a href="/admin/delete-product/{{this._id}}" class="btn btn-danger "onclick="return confirm('Are you want to delete {{name}}?')">Delete Product</a></td>
                                        </tr>
                                        {{/each}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
       
