<div id="layoutSidenav_content">
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            User Management
        </div>
        <div class="card-body">
            <table id="datatablesSimple">
               
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone Number</th>
                        <th>Address</th>
                        <th>Status</th>
                    </tr>
                </thead>

                <tbody>
                    {{#each user}}
                    <tr>
                        <td>{{firstName}}</td>
                        <td>{{email}}</td>
                        <td>{{phone}}</td>
                        <td>...{{Address}}</td>

                        {{#if blocked}}
                        <td><a class="btn btn-danger" onclick="unblckUser('{{this._id}}' ,'{{this.firstName}}')">unblock</a></td>
                        {{else}}

                        <td><a class="btn btn-success" onclick="blockUser('{{this._id}}' ,'{{this.firstName}}')" >Block</a></td>
                        {{/if}}

                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>
</main>
</div>
</div>

<script>




    function unblckUser(userId, userName) {

        console.log("Unblock user....")

        Swal.fire({
            title: 'Are you sure?',
            text: "Do You Want To Unblock " + userName,
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Confirm'
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: '/admin/unblock/' + userId,
                    method: 'put',
                    success: (response) => {
                        if (response.status) {
                            location.reload()
                        }
                    }
                })
                Swal.fire(
                    'Unblocked',
                    userName + ' has been Unblocked.',
                    'success'
                )
            }
        })
    }

    function blockUser(userId, userName) {

        console.log("Block user....")

        Swal.fire({
            title: 'Are you sure?',
            text: "Do You Want To Block " + userName,
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Confirm'
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: '/admin/blockUser/' + userId,
                    method: 'put',
                    success: (response) => {
                        if (response.status) {
                            location.reload()
                        }
                    }
                })
                Swal.fire(
                    'Blocked!',
                    userName + ' has been blocked.',
                    'success'
                )
            }
        })
    }
</script>