<div id="layoutSidenav_content">
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Category Management
        </div>
        <div class="card-body">

            <form action="/admin/add-catagory" role="form" method="POST" enctype="multipart/form-data">
                <input type="text" class="category" name="name" placeholder="enter category" class="form-control">
                {{!-- <button type="submit" class="btn btn-success mb-4 mt-2">Add-Category</button> --}}
                <input class="btn btn-success mb-4 mt-2" type="submit">
            </form>
            <form action="/admin/add-sub-catagory" role="form" method="POST" enctype="multipart/form-data">
                <select class="category-selector">
                    <option selected>Select Catagory</option>
                    {{#each catagory}}
                    <option value="{{_id}}">{{name}}</option>
                    {{!-- work in both this.name and name both are same --}}
                    {{/each}}

                </select>
                <input type="text" class="category" name="name" placeholder="enter sub-category" class="form-control">
                <button type="submit" class="btn btn-success mb-4 mt-2" value="Add Subcategory">Add-SubCategory</button>
            </form>
        </div>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Catagaries and sub-catagaries
            </div>
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>Catagory</th>
                            <th>Sub-catagory</th>
                            <th>Total Products</th>
                            <th>Update Catagory</th>
                            <th>Remove Catagory</th>
                        </tr>
                    </thead>
                    <tbody>
                         {{#each catagory}}
                        <tr>
                            <td style="font-size: 1.2rem;">{{name}}</td>
                            <td style="font-size: 1.2rem;">***</td>
                            <td style="font-size: 1.2rem;">***</td>
                            <td><a href="/admin/edit-catagory/{{this._id}}" class="btn btn-primary ">Edit catagory</a></td>
                            <td><a href="/admin/delete-catagory/{{this._id}}" class="btn btn-danger "onclick="return confirm('Are you want to delete {{this.Name}}?')">Delete catagory</a></td>
                        </tr>
                        {{/each}}   
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</main>
</div>
</div>