<div class="cart-cover">
    <p class="cart-text">Your Cart</p>

    <div class="cart-container-flex">

        <div class="p-q-t">
            <div class="cart-prce-quantity-total-flex">
                <p>PRICE</p>
                <P>QUANTITY</P>
                <P>TOTAL</P>
            </div>
        </div>
        {{#each usercart.cartitems}}
        <div class="cart-product-container-div">
            <p class="name-mobile-view">{{product.name}}</p>
            <div class="cat-pro-one-flex">
                <div class="cart-img">

                    <div class="cart-image-div">
                        <a href="/view-single-product/{{product._id}}"> <img src="/upload/{{product.image.[0].img}}"
                                alt=""></a>
                    </div>

                </div>
                <div class="cart-pro-name">
                    <p>{{product.name}}</p>
                </div>
                <div class="cart-other">
                    <div class="cart-other-div">

                        <p class="cart-price">Rs.{{product.price}}</p>

                        <div class="buttons-and-remove-flex">

                            <div class="quantity-button-flex">


                                <button class="-and-plusbutton" id="btnShow"
                                    onclick="changeQuantity('{{product._id}}',-1)">-</button>

                                {{!-- <input class="-and-plusbutton quantity-input-cart" type="text" name=""
                                    id="inputValue" value="{{quantity}}"> --}}
                                <div class="-and-plusbutton quantity-input-cart">
                                    <span id="{{product._id}}">{{quantity}}</span>
                                </div>


                                <button class="-and-plusbutton" onclick="changeQuantity('{{product._id}}',1)">+</button>
                            </div>

                            {{!-- <a class="remove-buttton" onclick="removeProduct('{{product._id}}')">REMOVE</a> --}}
                            <button class="remove-buttton" onclick="removeProduct('{{product._id}}')">REMOVE</button>

                        </div>

                        {{!-- <p class="cart-total-price">Total rs.120</p> --}}

                    </div>
                </div>
            </div>
        </div>
        {{/each}}


        <div class="note-and-checkout-container-flex-div">
            <div class="note-div-flex">
                <p class="text-area-heading">LEAVE A NOTE WITH YOUR ORDER</p>
                <textarea class="text-area"></textarea>
            </div>

            <div class="total-and-checkout-div">
                <p>Total</p>
                <h3>RS.<span id="total">{{total}}</span></h3>
                <p>Tax included and shipping calculated at checkout</p>
                <a href="">COUNTINUE SHOPPING</a>
                <br class="br-new-line">
                <a href="/shippingAddress"><button class="buy-now-button checkout-btn">CHECKOUT</button></a>
            </div>
        </div>

    </div>

</div>

<script>





    function changeQuantity(proId, count) {



        console.log("cart id..", proId)
        console.log("pro id..", count)
        countnow = parseInt(count)



        let quantity = parseInt(document.getElementById(proId).innerHTML)



        // var quantity =parseInt( document.getElementById("inputValue").value)

        console.log("quantity span..", quantity)

        console.log("quantity from inner html..", quantity)

        $.ajax({
            url: '/change-product-quantity',
            data: {
                proId: proId,
                count: countnow,
                quantity: quantity,
            },
            method: 'post',
            success: (response) => {
                if (response == false) {
                    console.log("respomse false if..")
                    alert("Product Removed")
                    location.reload()
                }
                else {

                    console.log("else ..", countnow)

                    if (countnow == -1) {
                        console.log("count -1")

                        count = $("#cart-count").html();
                        count = parseInt(count) + -1;
                        $("#cart-count").html(count)
                    }
                    else {
                        console.log("count +1")

                        count = $("#cart-count").html();
                        count = parseInt(count) + 1;
                        $("#cart-count").html(count)

                    }


                    console.log("responsw..",response)

                    document.getElementById(proId).innerHTML = quantity + countnow
                    document.getElementById('total').innerHTML = response.total

                    

                    // document.getElementById("inputValue").innerHTML = quantity+count;


                }
            }
        })
    }

    function removeProduct(proid) {

        Swal.fire({
            title: 'Are you sure?',
            text: "Do You Want To Remove ",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Confirm'
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: '/remove-product/' + proid,
                    method: 'get',
                    success: (response) => {
                        if (response == 1) {
                            console.log("respomse false if..")
                            location.reload()
                        }
                    }
                })
                Swal.fire(
                    'Removed',
                    ' Product havs been removed.',
                    'success'
                )
            }
        })













    }
</script>