<div class="ckeckout-cover">
    <div class="checkout-container-flex">

        <div class="mobile-total">
            <p class="total-mob-view">Total Rs: {{total}}</p>

        </div>


        <div class="address-detaisl">

            <div class="address-details-form-div">

                <div class="contact-and-shipp-to-div">
                    <div class="contact">
                        <p class="c-s">Contact</p>
                        <p><span id="email"></span></p>
                    </div>
                    <div class="shipp-to">
                        <p class="c-s">Shipp to</p>

                        <p><span id="fname"></span> <span id="lname"></span></p>
                        <p><span id="country"></span></p>
                        <p><span id="address"></span></p>
                        <p><span id="appartment"></span></p>
                        <p><span id="city"></span></p>
                        <p><span id="state"></span></p>
                        <p>Pincode:<span id="pincode"></span></p>
                        <p>Phone:<span id="phone"></span></p>

                    </div>
                </div>

                <p class="select-payment-method">Select Payment Method</p>
                <div class="payment-method-div">




                    <div class="container">
                        <div class="cod-div">
                            <input type="radio" name="username" value="Cod">
                            <label>Cod(Cash on delivery)</label>
                        </div>
                        <div class="online-payment-div">
                            <input type="radio" name="username" value="OnlinePayment" checked>
                            <label>Online payment</label>
                        </div>
                        <div class="paypal-payment-div">
                            <input type="radio" name="username" value="paypal">
                            <label>Paypal</label>
                        </div>
                    </div>



                </div>

                <button onclick="checkout()" class="continueShipping">Continue checkout</button>


                <p><a class="return-tocart" href="/shippingAddress">
                        < Return to shipping</a>
                </p>
            </div>
        </div>


        <div class="discount-and-products-total">
            <div class="scroll">
                {{#each usercart.cartitems}}
                <div class="product-details-and-image">
                    <div class="proimage-and-details-div">
                        <div class="proimage-div">
                            <img class="proimage" src="/upload/{{product.image.[0].img}}" alt="">
                        </div>

                        <div class="circle">
                            <span class="circle__content">{{quantity}}</span>
                        </div>

                        <div class="prodetails">
                            <p>{{product.name}}</p>
                        </div>
                        <div class="prodetails-price">
                            <p>${{product.price}}</p>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>


            <div class="discount-div">
                <input class="discount-input" type="text" id="discount" name="discount" placeholder="Discount code">
                <button class="appay-button">Apply</button>
            </div>

            <div class="total-div">
                <div class="sub-and-ship">
                    <div class="total-flex">
                        <p>Subtotal</p>
                        <p>$299.00</p>

                    </div>
                    <div class="total-flex ">
                        <p>Shipping</p>
                        <p>$49</p>
                    </div>
                </div>
                <div class="total-flex">
                    <p>Total</p>
                    <h2>INR ${{total}}</h2>
                </div>
            </div>

        </div>
    </div>
</div>

<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<script>

    var addressDetails = JSON.parse(localStorage.getItem('addressDetails'))
    console.log("addressDetails..", addressDetails)
    console.log("email...", addressDetails.email)
    document.getElementById('email').textContent = addressDetails.email
    document.getElementById('fname').textContent = addressDetails.fname
    document.getElementById('lname').textContent = addressDetails.lname
    document.getElementById('address').textContent = addressDetails.address
    document.getElementById('appartment').textContent = addressDetails.appartment
    document.getElementById('city').textContent = addressDetails.city
    document.getElementById('state').textContent = addressDetails.state
    document.getElementById('pincode').textContent = addressDetails.pincode
    document.getElementById('phone').textContent = addressDetails.phone

    function checkout() {
        let selected = document.querySelector('input[type="radio"]:checked');
        var payment = selected.value;
        console.log("hello 2..", payment)
        $.ajax({
            url: '/place-order',
            method: 'post',
            data: {
                email: addressDetails.email,
                country: addressDetails.country,
                fname: addressDetails.fname,
                lname: addressDetails.lname,
                address: addressDetails.address,
                appartment: addressDetails.appartment,
                city: addressDetails.city,
                state: addressDetails.state,
                pincode: addressDetails.pincode,
                phone: addressDetails.phone,
                payment: payment,
            },
            success: (response) => {
                if (response == 'cod') {
                    alert("Sucess from cod")
                }
                else if (response == 'paypal') {
                    alert("Sucess from paypal")
                }
                else {
                    console.log("online payment online response.. ", response)
                    razorpayPayment(response)
                    //alert(response)
                }

                //localStorage.clear()


                // window.location.href = '/account'

            }
        })
    }

    function razorpayPayment(order) {
        var options = {
            "key": "rzp_test_xE9ViN7qNPez7M", // Enter the Key ID generated from the Dashboard
            "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
            "currency": "INR",
            "name": "Ecofriend",
            "description": "Test Transaction",
            "image": "https://example.com/your_logo",
            "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
            "handler": function (response) {
                verifyPayment(response, order)
            },
            "prefill": {
                "name": "Gaurav Kumar",
                "email": "gaurav.kumar@example.com",
                "contact": "9999999999"
            },
            "notes": {
                "address": "Razorpay Corporate Office"
            },
            "theme": {
                "color": "#3399cc"
            }
        };
        var rzp1 = new Razorpay(options);
        rzp1.on('payment.failed', function (response) {
            alert("Alart from payment fail..")
          
        });
        rzp1.open();
    }
    
    function verifyPayment(payment, order) {
        $.ajax({
            url: '/verify-payment',
            data: {
                payment,
                order
            },
            method: 'post',

        })
          console.log("from verifypayment ajax outside...")

            window.location.href = '/'

    }
    //function removeProFromOrder() {
    //    $.ajax({
    //      url: '/remove-product-from-orderHis',
    //    method: 'post'
    //})
    //}
</script>