<div class="Single-product-cover">


    <h1 id="proIds" style="display: none;">{{singleProduct._id}}</h1>

    <div class="Single-product-flex">

        <div class="right-side-pro-image">
            <div class="right-imag-and-btns-cover">
                <div class="img-and-thump-img">

                    <div class="main-img  {{!-- zoomArea --}}">
                        <img {{!-- id="NZoomImg" data-NZoomscale="2" --}} class="main-image-big big_img"
                            src="/upload/{{singleProduct.image.[0].img}}" class="big_img">
                    </div>

                    <div class="img-thumps-cover" id="myDIV">

                        <ul class="imga-thumps-ul-flex">

                            <div class="li-thump-div">
                                <li class="btn  active thump-li"><img class="li-thump-img small_img"
                                        src="/upload/{{singleProduct.image.[0].img}}"></li>
                            </div>

                            <div class="li-thump-div">
                                <li class="btn thump-li"><img class="li-thump-img small_img"
                                        src="/upload/{{singleProduct.image.[1].img}}"></li>
                            </div>

                            <div class="li-thump-div">
                                <li class="btn thump-li"><img class="li-thump-img small_img"
                                        src="/upload/{{singleProduct.image.[2].img}}"></li>
                            </div>

                            <div class="li-thump-div">
                                <li class="btn thump-li"><img class="li-thump-img small_img"
                                        src="/upload/{{singleProduct.image.[3].img}}"></li>
                            </div>

                            <div class="li-thump-div">
                                <li class="btn thump-li"><img class="li-thump-img small_img"
                                        src="/upload/{{singleProduct.image.[4].img}}"></li>
                            </div>

                        </ul>

                    </div>

                </div>
            </div>
        </div>


        <div class="left-side-details">
            <div class="pro-details-name-price-other">
                <h1>{{singleProduct.name}}</h1>
                <h3 class="pro-price">RS.{{singleProduct.price}}</h3>
                <p class="pro-tax">tax included</p>
                <p class="pro-review">(6 total reviews)</p>
            </div>

            <div class="pro-add-to-cart-and-buy-qty">
                <label for="">QUNTITY</label>

                <input class="quantity-input" type="number" id="quantity" name="quantity" value="1">
                <input type="hidden" id="productId" name="productId" value="{{singleProduct._id}}">

                <script>var quantity = document.getElementById("quantity").value;
                </script>

                {{!-- if user login render this button else top one //this beacuse ajax response does not redirectng to login page--}}
                {{#if user}}

                <button class="add-to-cart-button" onclick="addToCartMain()">ADD TO CART</button>
                <button onclick="addToCartMain()" class=" buy-now-button">BUY NOW</button>

                {{else}}
                <button class="add-to-cart-button" onclick="getlogin()">ADD TO CART</button>
                <button onclick="getlogin()" class=" buy-now-button">BUY NOW</button>
                {{/if}}



            </div>

            <p class="pro-discription">
                {{singleProduct.discription}}
            </p>

            <div class="share-icons-links-container-flex">
                {{!-- icons --}}
            </div>

        </div>
    </div>

    <div class="suggetions-cover">
        <h2 class="you-may-also-like">You my also like this</h2>
        <div class="suggetions-pro-grid">
            <div class="suggetion-pro-col">
                <p>hello 1</p>
            </div>
            <div class="suggetion-pro-col">
                <p>hello 2</p>
            </div>
            <div class="suggetion-pro-col">
                <p>hello 3</p>
            </div>
            <div class="suggetion-pro-col">
                <p>hello 4</p>
            </div>
        </div>
    </div>






    <div class="user-review-cover">
        <h2 class="customer-review">Customer Reviews</h2>
        <div class="user-review-box">
            <p>Reviews user 1</p>
        </div>
        <div class="user-review-box">
            <p>Reviews user 2</p>
        </div>
    </div>
</div>

<script>

    function getlogin() {
        window.location.href = '/login'
    }

</script>